@tailwind base;
@tailwind components;
@tailwind utilities;

.css-mvs481 {
  padding: 0.25rem !important;
}

.css-jd7pm9-MuiListItemText-root span {
  font-weight: 400 !important;
}

.css-1x3v3vy {
  background: #1694c4 !important;
}

.css-1xr7jc4-MuiInputBase-input-MuiOutlinedInput-input {
  height: 0.5rem !important;
}

.MuiOutlinedInput-root {
  border-radius: 4px !important;
}

.MuiOutlinedInput-input {
  height: 0.5rem !important;
}

.css-19o5iax-MuiGrid-root {
  padding-top: 5px !important;
}
